.App{
  font-size: 0.85em;
}

.footer{
  width: 100%;
  text-align: center;
  margin-top: 4%;
}

.main_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media  (min-width:1000px) {
  .main_container{
     flex-direction: row;
  }

}
